<div class="row">
    <div class="col-md-12">
        <h2>Items
            <a href="/items/add" class="btn btn-success pull-right">Add Item</a>
        </h2>

        {{#unless Items.length}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{else}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Visibility</th>
                            <th></th> <!-- Empty header for remove button -->
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Items}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.title}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.body}}</td>
                                <td>{{this.category}}</td>
                                <td>{{#if this.published}}Published{{else}}Unpublished{{/if}}</td>
                                <td>
                                    <a href="/items/delete/{{this.id}}" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{/unless}}
    </div>
</div>
